/* 2 variables globales pour les couleurs SG */
:root {
  --rougeSg: #e9041e;
  --accomSg: #ddc6b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-header {
  font-size: 26px;
}

.header-display {
  background-color: black;
  color: var(--rougeSg);          /* rouge SG*/
  border-color: var(--rougeSg);   /* rouge SG*/
  font-size: 24px;
}

.double-border {
  border-style: double;
  border-width: thick;
}

.simple-border {
  border-style: solid;
  border-width: thin;
}

footer.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0.5rem;
  font-size: 12px;
  height: 30px;
}

footer p {
  margin-bottom: 0 !important;
}

.style-color-accomsg {
  font-size: 16px;
  color: var(--accomSg);
}

a:hover {
  color: var(--rougeSg) !important; /* rouge SG */
}