/* 2 variables globales pour les couleurs SG */
:root {
  --rougeSg: #e9041e;
  --accomSg: #ddc6b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-header {
  font-size: 26px;
}

.graph-chart-sg {
  background-color: black;
  color: var(--rougeSg); /* rouge SG*/
  border-color: var(--rougeSg); /* rouge SG*/
  font-size: 24px;
}

.double-border {
  border-style: double;
  border-width: thick;
}

/* pied de page fixe en bas de l'écran */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--rougeSg);
}

/* centrage vertical */
.center-v {
  margin: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 2rem;
}

.headband {
  text-align: center;
  background-color: #888;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.center-all {
  display: flex;
  justify-content: center; /* horizontal*/
  align-items: center; /* vertical*/
  height: 100px;
  border: 3px solid var(--rougeSg);
}

.center-image {
  display: flex;
  justify-content: center; /* horizontal*/
}

.column-1-3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.style-color-accomsg {
  font-size: 16px;
  color: var(--accomSg);
}

a {
  color: rgb(0, 123, 255);
}

/* couleur d'accompagnement SG pour les liens survolés */
a:hover {
  color: var(--rougeSg) !important;
}

a:visited {
  color: purple;
}

#navbarToggler a {
  color: white;
}

#navbarToggler a:hover {
  color: white;
}

#navbarToggler a:visited {
  color: white;
}

div.dropdown-menu {
  background-color: black;
  border-color: var(--rougeSg);
  border-style: solid;
}

a.nav-link.dropdown-toggle:focus {
  background-color: black;
  border-color: var(--rougeSg);
  border-style: solid;
  border-width: thin;
}

a.nav-link.dropdown-toggle:hover {
  background-color: var(--rougeSg);
  border-color: var(--rougeSg);
  color: white !important;
}

a.nav-link dropdown-toggle:hover {
  background-color: black;
  border-color: var(--rougeSg);
  border-style: solid;
  border-width: thin;
}

a.dropdown-item:hover {
  color: black !important;
}

td {
  vertical-align: middle !important;
}

th {
  vertical-align: middle !important;
  text-align: center !important;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-table {
  text-align: center;
}

.table thead th {
  border-bottom: none !important;
}

.logo-menu {
  text-decoration: underline overline;
}

/* label des colonnes de données */
.label-bold {
  font-weight: bold;
  margin-bottom: 2px !important;
}

.label-bold-mgl5 {
  font-weight: bold;
  margin-bottom: 2px !important;
  margin-left: 5px;
}

.frame {
  padding: 2px 5px;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
  border-radius: 2px;
  border-top-color: darkgrey;
  border-left-color: darkgrey;
  border-right-color: lightgray;
  border-bottom-color: lightgray;
}

.missing-value {
  background-color: var(--rougeSg);
  color: var(--accomSg);
}

.white-line {
  background-color: white;
}

.grey-line {
  background-color: #f2f2f2;
}

#test-table-xls-button {
  padding: 0 5px;
  background-color: #217346;
  color: white;
  border-color: var(--rougeSg);
  border-style: double;
  border-radius: 10px;
}

h6 {
  font-weight: bold !important;
}

.wrongDate {
  color: var(--rougeSg);
}

/*******************************/
/* initialement dans index.css */
/*******************************/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}

textarea {
  border-top-color: rgb(118, 118, 118);
  border-left-color: rgb(118, 118, 118);
  border-right-color: rgb(195, 195, 195);
  border-bottom-color: rgb(195, 195, 195);
  border-radius: 5px;
  border-width: 2px;
  resize: none !important;
}

a {
  font-size: 14px;
}

.navbar-toggler-icon {
  background-color: white !important;
}

/* redéfinir en partie la classe container-fluid de bootstrap pour lui faire faire ce qui me convient */
/* redéfinir le margin bottom pour que le dernier élément d'une liste ne soit pas recouvert par le pied de page */
.container-fluid {
  margin: 0 0 30px 0 !important;
}
